body {
    background-color: #d6d5f2;
    background-image: url("https://www.transparenttextures.com/patterns/type.png");
  }

.jumbotron {
    background-color: #474747;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    font-family: 'Cabin Sketch', cursive;
    color: rgb(197, 196, 196);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 50em;
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

h3 {
    color: midnightblue;
    font-family: 'Zilla Slab', serif;
}

h2 {
    color: navy;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

ul {
    list-style: none;
    margin-top: 2em;
    font-family: 'Schoolbell', cursive;
}

li { 
    margin: 1em;
    font-family: 'Schoolbell', cursive;
}

.box {
    margin: auto;
    max-width: 200px;
}

button {
    font-family: 'Zilla Slab', serif;
    font-size: 20px!important;
    border-style: none!important;
    margin: 10px;
    background-color: #283457!important;
    background-image: url("https://www.transparenttextures.com/patterns/paven.png");
    color: whitesmoke;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}